<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Movie Catalogue Deluxe: Actors  </title>

    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.min.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>


  <body>

    <div class="row header">
      <div class="small-10 small-centered columns">...</div>
      <h2>Actor Database</h2>
    </div>

    <div class="row search">
      <div class="small-5 small-centered columns">...</div>
      <form action='/actor_search' method=post>
        <label>Actor search
        <input type="text" placeholder="Actor's name here" />
        <!-- Submit -->
      </label>
      </form>
    </div>


    <div class="row" id="actor_body">
      <div class="small-10 small-centered columns">...</div>
      <table>
        <thead>
          <tr>
            <th>Actor Name</th>
            <th>Number of Appearances</th>
          </tr>
        </thead>
        <tbody>
        <% actors.each do |actor| %>
          <tr>
            <td><a href="/actors/<%=actor["name"]%>" ><%= actor["name"] %></a></td>
            <td><%= actor["movie_count"] %></td>
          </tr>
        <% end %>
      </tbody>
    </div>




      <script src="js/vendor/jquery.js"></script>
      <script src="js/foundation.min.js"></script>
      <script>
      $(document).foundation();
      </script>
  </body>
</html>
