<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
  </head>

  <body>
    <form action="/articles/new" method="post">
      <label for="article_new"> Article Title:</label>
      <input type="text" id="article_new" name="title">
      <br>
      <label for="article_new"> Article URL:</label>
      <input type="text" id="article_new" name="url">
      <br>
      <label for="article_new"> Article Description:</label>
      <textarea cols="50" rows="4" name="description"></textarea>
      <input type="submit">
    </form>
  </body>
