<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% all_articles.each do |article| %>
      <tr>
        <td><a href="<%= article["url"] %>"><%= article["title"] %></a></td>
        <td><%= article["description"] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</body>
